# Do not suggest pgrep, we want to be compatible with systems without (as AIX)
disable=SC2009

# Do not report funtions not being invoked directly
disable=SC2329

# Allow to find sourced files relative to the checked file
source-path=SCRIPTDIR

